.circle {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	/* width and height can be anything, as long as they're equal */
}
.title{
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    text-align:center;
}
/* Create the animation blocks */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.wrapper {
    position: absolute;
    top:75px;
    left:550px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.wrapper2 {
    position:absolute;
    top:350px;
    left:300px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.wrapper3 {
    position:absolute;
    top:75px;
    left:50px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.wrapper4 {
    position:absolute;
    top:350px;
    left:800px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.wrapper5 {
    position:absolute;
    top:75px;
    left:950px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.text {
  position: absolute;
  top:0px;
  width: 200px;
  height: 0px;
  margin: 0 auto;
  z-index:10;
  text-align:center;
  line-height:175px;
}
.text2 {
  position: absolute;
  top:25px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  z-index:10;
  text-align:center;
  line-height:190px;
}

/* Spinning, gradient circle; CSS only! */
#advanced {
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

	animation-name: spin;
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#advanced2 {
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #14ff08 0%, #1cf6ff 100%, #1c52ff 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #14ff08, #1cf6ff);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #14ff08 0%, #1cf6ff 100%, #1c52ff 95%);

	animation-name: spin;
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#advanced3 {
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #fff000 0%, #d2ff1f 100%, #0fff00 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #fff000, #d2ff1f);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #fff000 0%, #d2ff1f 100%, #0fff00 95%);

	animation-name: spin;
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#advanced4 {
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #98e3ff 0%, #809aff 100%, #5959ff 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #98e3ff, #809aff);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #98e3ff 0%, #809aff 100%, #5959ff 95%);

	animation-name: spin;
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#advanced5 {
	width: 200px;
	height: 200px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff7dfa 0%, #ff49e9 100%, #ff1fc0 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff7dfa, #ff49e9);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #ff7dfa 0%, #ff49e9 100%, #ff1fc0 95%);

	animation-name: spin;
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}